<html ng-app="LoginApp">
<head>
    <title>Welcome to the Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<style type="text/css">
    legend{background-color: lightblue; margin: 10px 5px; line-height: 2; position: relative }
    fieldset {
        background-color: darksalmon;
        width: 550px;
        height: 300px;
        font-family: "Arial Black";
        display: block;
        position: relative;
        margin: 20px 0px;
        line-height: 5;
    }
    .placebutton {position: relative; width: 100px;background-color: lightblue; height: 30px}


</style>


<center>
<form name = "Login Form"></form>
<fieldset>
    <legend>LOGIN FORM</legend>
    USERNAME: <input type="text" ng-model="user"/><span>*</span><br/>
    PASSWORD: <input type="password" ng-model="pass"/><span>*</span><br/>

    <button class="placebutton" onclick="window.location.href='Maps.html'">LOGIN</button>
    <button class="placebutton" onclick="window.location.href='Register.html'">REGISTER</button>
</fieldset>
</center>
</body>
</html>
